<nav>
    <a class="icon" href="../index.html"><img src="../public/images/charpush-icon.svg" alt="icon" title="Character Stretch"></a>
    <a class="icon" href="../index.html"><img src="../public/images/home-icon.svg" alt="home" title="Home"></a>
    <a class="icon" href="../index.html"><img src="../public/images/profile-icon.svg" alt="profile" title="Profile"></a>
    <a class="icon" href="../create.html"><img src="../public/images/create-icon.svg" alt="create" title="Create"></a>
    <a class="icon" href="../characters.html"><img src="../public/images/collections-icon.svg" alt="create" title="Collections"></a>

    <a class="settings-icon" href="../index.html"><img src="../public/images/settings-icon.svg" alt="settings" title="settings"></a>
</nav>